/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.env
.env.*
.phpunit.result.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
package-lock.json
public/build/assets/app-BuG9aa18.js
public/build/assets/app-IAtzAill.css
.gitignore
public/build/manifest.json
.codex-memory.md
public/wato/cron.log
public/wato/wato.db
